
.header {
  text-align: center;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 120px;
  padding-left: 7%;
}

.pageSelection {
  text-align: center;
  padding-right: 1.7%;
}

  .pageSelection p {
    font-size: 30px;
    display: inline;
  }

.pageSelectionAnchorText {
  /*color: #a800ff;*/
  color: rebeccapurple;
  cursor: pointer;
}

.container {
  position: relative;
  width: 75%;
  margin-top: 1%;
}

.contactMe {
  margin-top: 7px;
  border-style: inset;
  text-align: center;
  height: 56vh;
  background-color: #b4a7d6
}

.upcomingShows {
  margin-top: 7px;
  border-style: inset;
  text-align: center;
  height: 56vh;
  background-color: #b4a7d6
}

.videoContent {
  margin-top: 7px;
  height: 50vh;
  margin-bottom: 10%;
}

.profilePic {
  width: 100%;
  /*height: 522px;*/
  height: 53vh;
  margin-bottom: 45px;
}

.aboutMeSection {
  border-style: inset;
  text-align: center;
  height: 53vh;
  background-color: #b4a7d6
}

.aboutMeHeader {
  font-weight: bold;
  font-size: 25px;
}

.aboutMe {
  font-weight: bold;
  font-size: 20px;
}


.background {
  position: relative;
  z-index: 1;
  height: 100%;
}

  .background:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    opacity: .4;
    z-index: -1;
    background: url(VilleBackgroundImage.jpg);
    background-size: cover;
    background-repeat: repeat;
    overflow: auto;
  }

.disclaimer {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}


