<!--<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">-->
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">-->
<!--<nav class="navbar navbar-dark bg-primary">
  <div class="navbarText">
    <a class="navbar-brand" href="#">Comedy</a>
    <a class="navbar-brand" href="#">Music</a>
  </div>
</nav>-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Comfortaa&family=Josefin+Sans&family=Quicksand&family=Special+Elite&family=Staatliches&display=swap" rel="stylesheet">
<div class="background">
  <br />
  <h1 class="header">Prithvi Bandaru</h1>


  <div class="pageSelection">
    <p>  <a class="pageSelectionAnchorText" (click)="onComedyClick()"> Comedy </a>  |  <a class="pageSelectionAnchorText" (click)="onMusicClick()"> Music  </a> </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="videoContent">
          <app-music-content></app-music-content>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="contactMe">
          <app-music-info></app-music-info>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="upcomingShows">
          <app-find-me></app-find-me>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1151507467&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/prithviraj-bandaru-1" title="Prithvi" target="_blank" style="color: #cccccc; text-decoration: none;">Prithvi</a> · <a href="https://soundcloud.com/prithviraj-bandaru-1/xltshirt" title="XLTShirt" target="_blank" style="color: #cccccc; text-decoration: none;">XLTShirt</a></div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <img class="profilePic" src="prithviComedyPic1.png" />
      </div>
      <div class="col-sm-3">
        <div class="aboutMeSection">
          <h3 class="aboutMeHeader">About me</h3>
          <p class="aboutMe">If you can hear me then after all I can talk, deep philosophy... I'm a philosopher, at heart, I'm a poet, I'm an artist, I'm a guitar picker... jack of all trades, a master of none, I'm the man, I'm the head chief, I'm the guru, I'm the cool guy... I'm awesome, I'm familiar</p>
        </div>
      </div>
    </div>
  </div>
</div>
