<!--<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">-->
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">-->
<!--<nav class="navbar navbar-dark bg-primary">
  <div class="navbarText">
    <a class="navbar-brand" href="#">Comedy</a>
    <a class="navbar-brand" href="#">Music</a>
  </div>
</nav>-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Comfortaa&family=Josefin+Sans&family=Quicksand&family=Special+Elite&family=Staatliches&display=swap" rel="stylesheet">
  <div class="background">

    <br />
    <h1 class="header">Prithvi Bandaru</h1>


    <div class="pageSelection">
      <p>  <a class="pageSelectionAnchorText" (click)="onComedyClick()"> Comedy </a>  |  <a class="pageSelectionAnchorText" (click)="onMusicClick()"> Music  </a> </p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="videoContent">
            <app-video-content></app-video-content>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="upcomingShows">
            <app-upcoming-shows></app-upcoming-shows>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="contactMe">
            <app-find-me></app-find-me>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <img class="profilePic" src="prithviComedyPic1.png" />
        </div>
        <div class="col-sm-3">
          <div class="aboutMeSection">
            <h3 class="aboutMeHeader">About me</h3>
            <p class="aboutMe">If you can hear me then after all I can talk, deep philosophy... I'm a philosopher, at heart, I'm a poet, I'm an artist, I'm a guitar picker... jack of all trades, a master of none, I'm the man, I'm the head chief, I'm the guru, I'm the cool guy... I'm awesome, I'm familiar</p>
          </div>
        </div>
      </div>
    </div>


  </div>
