<!--<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">-->
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">-->
<!--<nav class="navbar navbar-dark bg-primary">
  <div class="navbarText">
    <a class="navbar-brand" href="#">Comedy</a>
    <a class="navbar-brand" href="#">Music</a>
  </div>
</nav>-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Comfortaa&family=Josefin+Sans&family=Quicksand&family=Special+Elite&family=Staatliches&display=swap" rel="stylesheet">
  <div class="background">

    <br />
    <h1 class="header">Prithvi Bandaru</h1>


    <div class="pageSelection">
      <p>  <a class="pageSelectionAnchorText" (click)="onComedyClick()"> Comedy </a>  |  <a class="pageSelectionAnchorText" (click)="onMusicClick()"> Music  </a> </p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="videoContent">
            <app-video-content></app-video-content>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="upcomingShows">
            <app-upcoming-shows></app-upcoming-shows>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="contactMe">
            <app-find-me></app-find-me>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <img class="profilePic" src="prithviComedyPic1.png" />
        </div>
        <div class="col-sm-3">
          <div class="aboutMeSection">
            <h3 class="aboutMeHeader">About me</h3>
            <!-- If you can hear me then after all I can talk, deep philosophy... I'm a philosopher, at heart, I'm a poet, I'm an artist, I'm a guitar picker... jack of all trades, a master of none, I'm the man, I'm the head chief, I'm the guru, I'm the cool guy... I'm awesome, I'm familiar -->
            <p class="aboutMe">
              Prithvi Bandaru is a comedian and musician based in Chicago.
              Prithvi started doing comedy in his hometown of Aurora, IL at the Comedy Shrine where he won their Game of Microphones competition. It turns out the $25 reward was all it took for Prithvi’s ego to inflate enough to carry him to Chicago where he can be found performing at the Comedy Bar’s Crank and Chums show, shows at the Lincoln Lodge, and many other Chicago comedy spots. Currently finishing as a student at the University of Illinois at Chicago, Prithvi’s comedy is a smooth compilation of disarming anecdotes about his life as a student, Indian in America, and cog of the simulation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="disclaimer">
      <p>Site design by Carl Kramp</p>
    </div>


  </div>
