
.header {
  text-align: center;
  position: relative;
  font-family: 'Quicksand', sans-serif;


  font-weight: bold;
  font-size: 120px;
  padding-left: 7%;
}

.pageSelection {
  text-align: center;
  padding-right: 1.7%;
}

  .pageSelection p {
    font-size: 30px;
    display: inline;
   
  }

.pageSelectionAnchorText {
  color: royalblue;
  cursor: pointer;
  /*color: #00c1f7;*/
  /*font-weight: bold;*/
}

.container {
  position: relative;
  width: 85%;
  margin-top: 1%;
  margin-bottom: 0px;
  word-wrap: break-word
}

.upcomingShows {
  margin-top: 7px;
  border-style: inset;
  text-align: center;
  height: 55vh;
  background-color: lightblue;
}

.contactMe {
  margin-top: 7px;
  border-style: inset;
  text-align: center;
  height: 55vh;
  /*background-color: paleturquoise;*/
  /*background-color: #00c1f7;*/
  background-color: lightblue;
}



.videoContent {
  margin-top: 7px;
  height: 50vh;
  width: auto;
  margin-bottom: 10%;
}

.profilePic {
    width: 100%;
    /*height: 522px;*/
    height: 54vh;
    margin-bottom: 45px;
}

.aboutMeSection {
  border-style: inset;
  text-align: center;
  /*height: 54vh;*/
  height: auto;
  background-color: lightblue;
}

.aboutMeHeader {
  font-weight: bold;
  font-size: 25px;
}

.aboutMe {
  font-weight: bold;
  font-size: 17px;
}

.background {
  position: relative;
  z-index: 1;
}

  .background:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    opacity: .3;
    z-index: -1;
    background: url(chicagoTrainYardBackgroundImage.jpg);
    background-size: cover;
  }

.disclaimer {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}



